/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    height: 100%;
    margin-top: 50px;
}

.login-panel {
    margin-top: 10px;
}
